services:
  mysql:
    image: mysql:latest
    container_name: banco
    ports:
      - '3600:3306'
    environment:
      TZ: America/Sao_Paulo
      MYSQL_ROOT_PASSWORD: docker
      MYSQL_DATABASE: banco
      MYSQL_USER: estagiario
      MYSQL_PASSWORD: senha   
    networks:
      - rede
    restart: always
    volumes:
      - 'banco:/var/lib/mysql'
  wordpress:
    image: wordpress:latest
    container_name: site
    ports:
      - '80:80'
    environment:
      TZ: America/Sao_Paulo
      WORDPRESS_DB_HOST: mysql
      WORDPRESS_DB_USER: estagiario
      WORDPRESS_DB_PASSWORD: senha
      WORDPRESS_DB_NAME: banco
    depends_on: 
      - mysql
    networks:
      - rede
    restart: always
    volumes:
      - site:/usr/src/wordpress/
networks:
  rede:
volumes:
  banco:
  site: